.slider {
  margin-top: -5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  li.slick-active button {
    display: none;
  }
}
@media (max-width: 450px) {
  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    div {
    }
  }
}
