* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Home-page {
  background-color: #171717;
  .HeroSection {
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.4430147058823529) 100%,
        rgba(231, 231, 231, 1) 100%
      ),
      url("https://ik.imagekit.io/grfidbs4suq/Home/home_qH1S0dI9f.svg");
    background-size: cover;
  }
}
.acordian-home {
  display: flex;
  height: 100vh;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #171717;
  div {
    flex: 1;
    display: flex;
    align-items: stretch;
    background: #171717;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      flex: 4;
      opacity: 1;
      transform: scaleX(1);
    }

    &.active {
      flex: 4;
      background: #fff;
      cursor: default;
    }

    .image {
      background: linear-gradient(180deg, transparent, #000 100%),
        url("https://ik.imagekit.io/grfidbs4suq/Home/home_qH1S0dI9f.svg");

      a {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color: #fff;
        line-height: 3rem;
        font-size: 4rem;
        padding-bottom: 3rem;
        font-family: Ivy Mode;
      }
    }
  }
}
.home-story {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  h1 {
    color: #fff;
    font-size: 3.5rem;
    font-family: Ivy Mode;
    padding: 1rem 0;
  }
  p {
    color: #fff;
    font-size: 1.5rem;
    font-family: Ivy Mode;
  }
  .home-story-line {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
    .home-story-bar {
      width: 10rem;
      border-top-width: 2px;
      border-color: #ef1b1c;
    }
    h2 {
      color: #ef1b1c;
      font-size: 2rem;
      font-family: Ivy Mode;
    }
  }
}
@media (max-width: 768px) {
  .acordian-home {
    div {
      .image {
        a {
          font-size: 2rem;
        }
      }
    }
  }
  .home-story {
    padding: 2rem 4rem;
    h1 {
      font-size: 3rem;
      text-align: center;
    }
    p {
      font-size: 1rem;
      text-align: center;
    }
    .home-story-line {
      padding-top: 3rem;

      h2 {
        font-size: 1.5rem;
        text-align: center;
      }
    }
  }
}
@media (max-width: 500px) {
  .home-story {
    height: 70vh;
    h1 {
      font-size: 2rem;
      text-align: center;
    }
    p {
      font-size: 0.8rem;
      text-align: center;
    }
    .home-story-line {
      padding-top: 2rem;

      h2 {
        font-size: 1rem;
        text-align: center;
      }
    }
  }
  .acordian-home {
    height: 60vh;
    div {
      .image {
        a {
          font-size: 1.2rem;
        }
      }
    }
  }
}
