.slick-dots {
  width: 100%;
  li {
    button {
      &:before {
        font-size: 10px;
        color: rgb(223, 0, 0);
      }
    }
  }
  li.slick-active {
    button {
      &:before {
        color: rgb(223, 0, 0);
      }
    }
  }
}

.slick-list {
  overflow: hidden;
}
button {
  z-index: 1;
}
