.interwood-about {
  .about-name1 {
    .text3 {
      color: #ef1b1c;
      padding: 0.75rem 0;
      font-size: 2rem;
      font-family: Ivy Mode;
    }
    .text4 {
      color: #fff;
      padding: 0.75rem 0;
      font-size: 2rem;
      font-family: Ivy Mode;
    }
  }
}
.kitcInterwoodplus {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.4430147058823529) 100%,
      rgba(231, 231, 231, 1) 100%
    ),
    url("https://ik.imagekit.io/grfidbs4suq/kitchen/detailInterwood/Montana/MONTANA_KITCHEN_NO.4_jWVs91_iS.png?ik-sdk-version=javascript-1.4.3&updatedAt=1644836332475");
}
