.bedroom-about {
  width: 100%;
  height: max-content;
  background-color: #171717;
  padding-top: 2.5rem;
  padding-left: 8rem;
  padding-right: 8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  .about-name1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .about-line {
      width: 15rem;
      border-top-width: 2px;
      border-color: #ef1b1c;
    }
    .text1 {
      color: #fff;
      padding: 0.75rem 0;
      font-size: 2rem;
      text-align: center;
      font-family: Ivy Mode;
    }
    .text2 {
      color: #ef1b1c;
      padding: 0.75rem 0;
      font-size: 2rem;
      font-family: Ivy Mode;
      text-align: center;
    }
  }
}
.mobile-bedroom {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5rem;
  align-items: center;
}
@media (max-width: 768px) {
  .bedroom-about {
    flex-direction: column;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    .about-name1 {
      padding: 2rem 0;
    }
  }
  .mobile-bedroom {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .mobile-bedroom {
    padding: 0;
    overflow: hidden;
  }
}
