.brandsss {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.4430147058823529) 100%,
      rgba(231, 231, 231, 1) 100%
    ),
    url("https://ik.imagekit.io/grfidbs4suq/kitchen/detailPlus/VIEW_02__1__gERh_e90c.png?ik-sdk-version=javascript-1.4.3&updatedAt=1644837306235");
}

.brands {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  h1 {
    color: white;
    font-size: 3.5rem;
    font-family: Ivy Mode;
    line-height: 4rem;
  }
  .brands-bar {
    padding-top: 6rem;
    h2 {
      color: white;
      font-size: 2rem;
      padding: 1rem;
      font-family: Ivy Mode;
    }
    .line1 {
      border-top: 2px solid white;
    }
    &:hover {
      h2 {
        color: #c5372f;
        transform: scale(1.2);
      }
      .line1 {
        transform: scaleX(1.3);
        border-top: 2px solid #c5372f;
      }
    }
  }
}
@media (max-width: 768px) {
  .brands {
    h1 {
      font-size: 2rem;
      line-height: normal;
      text-align: center;
    }
    .brands-bar {
      h2 {
        font-size: 1.5rem;
      }
    }
  }
}
