.partnerwithus {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  h1 {
    margin-top: 6rem;
    font-size: 7rem;
    color: white;
    font-family: Ivy Mode;
    font-style: normal;
    font-weight: normal;
    width: 30%;
    margin-left: 10rem;
  }
  .partner-value1 {
    padding: 10rem 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .partner-content {
      padding: 12rem;

      h2 {
        color: #fff;
        font-size: 5.625rem;
        padding-bottom: 5rem;
        font-family: Ivy Mode;
        font-style: normal;
        font-weight: normal;
      }
      p {
        color: #fff;
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        text-align: justify;
        width: 40rem;
        font-size: 1.5rem;
      }
    }
  }
  .partner-value2 {
    padding: 10rem 9rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    .partner-content {
      padding: 8rem;
      h2 {
        color: #fff;
        font-size: 5.625rem;
        padding-bottom: 5rem;
        font-family: Ivy Mode;
        font-style: normal;
        font-weight: normal;
      }
      p {
        color: #fff;
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        text-align: justify;
        width: 40rem;
        font-size: 1.5rem;
      }
    }
  }
}
