.acordian {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #171717;
  div {
    flex: 1;
    display: flex;
    align-items: stretch;
    background: #171717;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      flex: 4;
      opacity: 1;
      transform: scaleX(1);
    }

    &.active {
      flex: 4;
      background: #fff;
      cursor: default;
    }

    .img {
      background: linear-gradient(180deg, transparent, #000 100%),
        url("./home.svg");

      a {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color: #fff;
        font-size: 3.5rem;
        line-height: 3rem;
        padding-bottom: 3rem;
        font-family: Ivy Mode;
      }
    }
  }
}
@media (max-width: 568px) {
  .acordian {
    min-height: 60vh;
    div {
      .img {
        a {
          font-size: 1.2rem;
        }
      }
    }
  }
}
