.wardrobedetails {
  padding: 5rem 7rem;
  h1 {
    font-size: 4rem;
    font-family: Ivy Mode;
    color: #fff;
    width: 20rem;
  }
  p {
    font-size: 1.2rem;
    color: #fff;
    width: 20rem;
    text-align: justify;
  }
}
.alexiaplus {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.4430147058823529) 100%,
      rgba(231, 231, 231, 1) 100%
    ),
    url("https://ik.imagekit.io/grfidbs4suq/wardrobe/interwood/ALexia/WARDROBE_2_1bZbBksaR.png?ik-sdk-version=javascript-1.4.3&updatedAt=1645088605641");
}
.andreaplus {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.4430147058823529) 100%,
      rgba(231, 231, 231, 1) 100%
    ),
    url("https://ik.imagekit.io/grfidbs4suq/wardrobe/interwood/andrea/WARDROBE_7_ETkqtSBQi.png?ik-sdk-version=javascript-1.4.3&updatedAt=1645088871196");
}
.ceciliaplus {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.4430147058823529) 100%,
      rgba(231, 231, 231, 1) 100%
    ),
    url("https://ik.imagekit.io/grfidbs4suq/wardrobe/interwood/ceclia/WARDROBE_12_0AIe5IWREs.png?ik-sdk-version=javascript-1.4.3&updatedAt=1645089086032");
}
.montanaplus {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.4430147058823529) 100%,
      rgba(231, 231, 231, 1) 100%
    ),
    url("https://ik.imagekit.io/grfidbs4suq/wardrobe/interwood/Montana/WARDROBE_13_djo77gWxc.png?ik-sdk-version=javascript-1.4.3&updatedAt=1645089442538");
}
.profiloplus {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.4430147058823529) 100%,
      rgba(231, 231, 231, 1) 100%
    ),
    url("https://ik.imagekit.io/grfidbs4suq/wardrobe/interwood/pop/WARDROBE_PROFILO_1_P3_qJpvvTTmq.png?ik-sdk-version=javascript-1.4.3&updatedAt=1645089699839");
}
.sublimeplus {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.4430147058823529) 100%,
      rgba(231, 231, 231, 1) 100%
    ),
    url("https://ik.imagekit.io/grfidbs4suq/wardrobe/interwood/sublime/WARDROBE_SUBLIME_4__Sdu2cqDV.png?ik-sdk-version=javascript-1.4.3&updatedAt=1645089999055");
}

.allure {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.4430147058823529) 100%,
      rgba(231, 231, 231, 1) 100%
    ),
    url("https://ik.imagekit.io/grfidbs4suq/wardrobe/Interwood_Plus/allure/GBR_3_Si-jH8Q5w.png?ik-sdk-version=javascript-1.4.3&updatedAt=1645100628104");
}
.glazewardrobe {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.4430147058823529) 100%,
      rgba(231, 231, 231, 1) 100%
    ),
    url("https://ik.imagekit.io/grfidbs4suq/wardrobe/Interwood_Plus/Glaze/GLAZE_qcFwP1mgg3.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1645101380899");
}
.lack7wardrobe {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.4430147058823529) 100%,
      rgba(231, 231, 231, 1) 100%
    ),
    url("https://ik.imagekit.io/grfidbs4suq/wardrobe/Interwood_Plus/Lack/ARDROBE_zfVFDUBUHEby.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1645101899587");
}
.ralphuno {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.4430147058823529) 100%,
      rgba(231, 231, 231, 1) 100%
    ),
    url("https://ik.imagekit.io/grfidbs4suq/wardrobe/Interwood_Plus/Uno/RALPH_UNO_1__1__m9Cd39iPkrvR.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1645683564644");
}
.structpp {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.4430147058823529) 100%,
      rgba(231, 231, 231, 1) 100%
    ),
    url("https://ik.imagekit.io/grfidbs4suq/wardrobe/Interwood_Plus/struct/STRUCT_GFhxg09Jc.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1645688365287");
}
.ralph8000 {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.4430147058823529) 100%,
      rgba(231, 231, 231, 1) 100%
    ),
    url("https://ik.imagekit.io/grfidbs4suq/wardrobe/Interwood_Plus/r_8000/CBR_1_aP1IAJ_zLQ.png?ik-sdk-version=javascript-1.4.3&updatedAt=1645689302011");
}
.ralph1500 {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.4430147058823529) 100%,
      rgba(231, 231, 231, 1) 100%
    ),
    url("https://ik.imagekit.io/grfidbs4suq/wardrobe/Interwood_Plus/r1500/MBR_2__1__eMvZjKT2L.png?ik-sdk-version=javascript-1.4.3&updatedAt=1645689939412");
}
