.valuere {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.4430147058823529) 100%,
      rgba(231, 231, 231, 1) 100%
    ),
    url("https://ik.imagekit.io/grfidbs4suq/Home/1/PRAJWAL_S_VIEW_3_NdZdV8xch.png?ik-sdk-version=javascript-1.4.3&updatedAt=1645876079475");
}

.valueretailer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 6rem;
  h1 {
    width: 25rem;
    color: white;
    font-family: Ivy Mode;
    font-size: 3rem;
  }
  p {
    width: 25rem;
    color: white;
    font-size: 1rem;
  }
}
.valueretailer-req {
  padding: 4rem 6rem;
  h1 {
    color: white;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    font-family: Ivy Mode;
    width: 100%;
  }
  .value-card {
    display: flex;
    padding-top: 4rem;
    justify-content: space-evenly;
    text-align: center;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 10rem;
      span {
        color: white;
        text-align: center;
        font-size: 0.8rem;
      }
    }
  }
}
.retail-form {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
  align-items: center;
  padding: 3rem 6rem;
  background-color: #292929;
  hr {
    border-top: 2px dashed rgb(255, 255, 255);
    transform: rotate(90deg);
    width: 50rem;
  }

  .retail-form-img {
    display: flex;
    justify-content: center;
    height: 35rem;

    align-items: center;
    h1 {
      color: #fff;

      font-family: Ivy Mode;
      width: 25rem;
      display: flex;
      justify-content: center;
    }
  }
  .retail-form-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h1 {
      color: #fff;
      font-size: 2rem;
      font-family: Ivy Mode;
      // width: 25rem;
      display: flex;
      justify-content: center;
    }
    .getintouch-form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      form {
        textarea:focus,
        input:focus {
          outline: none;
        }
        input {
          color: #fff;
          margin: 1rem;
          background: #292929;
          border: none;
          width: 30rem;
          border-bottom: 1px solid white;
          padding: 1.2rem 0;
          &::placeholder {
            color: #fff;
          }
        }
      }
      a {
        color: white;
        background: #171717;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Ivy Mode;
        height: 3rem;
        width: 8rem;
      }
    }
  }
}
.value-retail-faqs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 4rem 8rem;
  h1 {
    font-size: 3rem;
    color: #fff;

    font-family: Ivy Mode;
  }
  p {
    font-size: 2rem;
    color: #fff;

    font-family: Ivy Mode;
    padding: 3rem 0;
  }
}
.accordion-button {
  background: #c4c4c4;
  &:focus {
    background: #c4c4c4;
    border-color: #c4c4c4;
  }
}
.accordion-body {
  background: #c4c4c4;
}
.accordion-button:not(.collapsed) {
  background: #c4c4c4;
}

@media (max-width: 768px) {
  .valueretailer {
    flex-direction: column;
    h1 {
      font-size: 2rem;
      padding: 4rem 2rem;
      text-align: center;
    }
    p {
      font-size: 1.2rem;
      text-align: justify;
    }
  }
  .valueretailer-req {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    .value-card {
      flex-direction: column;
      align-items: center;
      div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
      }
    }
  }
  .retail-form {
    flex-direction: column;
    padding: 2rem 2rem;
    hr {
      display: none;
    }
    .retail-form-img {
      h1 {
        text-align: center;
      }
    }
    .retail-form-main {
      .getintouch-form {
        form {
          align-items: center;
          input {
            width: 80%;
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .valueretailer {
    padding: 0 3rem;
    h1 {
      font-size: 1.8rem;
    }
    p {
      font-size: 1rem;
      padding: 1.5rem 3rem;
    }
  }
  .value-retail-faqs {
    padding: 2rem 2rem;
    h1 {
      font-size: 2rem;
      text-align: center;
    }
    p {
      font-size: 1.2rem;
      text-align: center;
    }
  }
}
