.ourbrand {
  width: 100%;
  padding-top: 5rem;
  padding: 6rem 6rem;

  .brandyoutube {
    display: flex;
    justify-content: center;
    background-image: url("https://ik.imagekit.io/grfidbs4suq/Home/SeekPng.com_boarders-png_789974_Nh7-GagJ4.png");
    height: 50rem;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    align-items: center;
    z-index: 10;

    iframe {
      // width: 100%;
      width: 80%;
      height: 45rem;
      // z-index: ;
    }
  }
}

@media (max-width: 1250px) {
  .ourbrand {
    .brandyoutube {
      iframe {
        width: 55rem;
        height: 45rem;
      }
    }
  }
}
@media (max-width: 768px) {
  .ourbrand {
    padding: 1rem 1rem;
    .brandyoutube {
      padding-top: 8rem;
      iframe {
        width: 40rem;
        height: 40rem;
      }
    }
  }
}
@media (max-width: 500px) {
  .ourbrand {
    .brandyoutube {
      padding: 2rem;
      iframe {
        width: 30rem;
        height: 22rem;
      }
    }
  }
}
