.ourbrand {
  width: 100%;
  padding-top: 5rem;
  padding: 2rem 6rem;
  .brandyoutube {
    display: flex;
    justify-content: center;
    padding-top: 15rem;
    iframe {
      width: 70rem;
      height: 50rem;
    }
  }
  .ourbrand-title {
    display: flex;

    justify-content: flex-start;

    h1 {
      font-size: 4rem;
      color: #fff;
      font-family: Ivy Mode;
      font-style: normal;
      font-weight: normal;
    }
  }
  .ourbrand-images {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 80%;s
    .ourbrand-grid {
      padding-top: 5rem;
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 2rem;
      .brand1 {
        grid-row: 1 / 3;
        img {
          height: 35rem;
        }
      }
      .brand {
        img {
          width: 18rem;
        }
      }
    }
    .ourband-arrow {
      width: 15rem;
      cursor: pointer;
      &:hover {
        animation: bounc 1s infinite;
      }
      @keyframes bounc {
        0%,
        100% {
          transform: translateX(-25%);
          animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        }
        50% {
          transform: none;
          animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
      }
    }
  }
}

@media (max-width: 1250px) {
  .ourbrand {
    .ourbrand-title {
      h1 {
        padding-left: 3.5rem;
      }
    }
    .brandyoutube {
      iframe {
        width: 55rem;
        height: 45rem;
      }
    }
    .ourbrand-images {
      .ourbrand-grid {
        padding-top: 2rem;
        .brand1 {
          img {
            height: 28rem;
          }
        }
        .brand {
          img {
            width: 14rem;
          }
        }
      }
      .ourband-arrow {
        width: 10rem;
      }
    }
  }
}
@media (max-width: 768px) {
  .ourbrand {
    padding: 1rem 1rem;
    .brandyoutube {
      padding-top: 8rem;
      iframe {
        width: 40rem;
        height: 40rem;
      }
    }
    .ourbrand-title {
      padding: 2rem;
      h1 {
        padding-left: 0;
        font-size: 2rem;
      }
    }
    .ourbrand-images {
      .ourbrand-grid {
        .brand1 {
          img {
            height: 16rem;
          }
        }
        .brand {
          img {
            width: 10rem;
          }
        }
      }
      .ourband-arrow {
        width: 6rem;
      }
    }
  }
}
