.ourbrand {
  width: 100%;
  .ourbrand-title {
    padding: 4rem 6rem;
    span {
      font-family: Ivy Mode;
      font-style: normal;
      font-weight: normal;
      color: white;
      font-size: 5.5rem;
      line-height: 6rem;
      text-align: justify;
      letter-spacing: 0.04em;
    }
  }
  .ourbrand-images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .ourbrand-grid {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 2rem;
      img {
        width: 19rem;
      }
    }
    .brand1 {
      grid-row: 1 / 3;
      img {
        height: 36.5rem;
      }
    }
  }
  .brandyoutube {
    display: flex;
    padding-top: 10rem;
    height: 55rem;
    // width: 0rem;
    justify-content: center;
    iframe {
      width: 70rem;
    }
  }
}
